<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../profile.css"/>
    <title>My Submissions</title>
</head>
<body>
    <div class="navbar">
      <ul class="nb">
        <li class="nb"><a href="/grade/profile">Home</a></li>
        <li class="nb"><a href="/grade/status">Submissions</a></li>
        <li class="nb"><a href="/grade/contests">Contests</a></li>
        <li class="nb"><a href="/grade/problemset">Problemset</a></li>
        <li class="nb"><a href="/grade/submit">Submit</a></li>
	<li class="nb"><a href="/grade/info">Rules and Info</a></li>
      </ul>
    </div>
    <div class="main-block">
      <div class="title">Contest Title</div>
    </div>
    <div class="cnav">
      <ul class="cnb">
        <li class="cnb"><a href="/grade/contests/<%=locals.cid%>">Problems</a></li>
        <li class="cnb"><a href="/grade/submit">Submit Code</a></li>
        <li class="cnb"><a href="/grade/contests/<%=locals.cid%>/status?user=<%=locals.user%>&contest=<%=locals.cid%>">My Submissions</a></li>
        <li class="cnb"><a href="/grade/contests/<%=locals.cid%>/status?contest=<%=locals.cid%>">All Submissions</a></li>
        <li class="cnb"><a href="/grade/contests/<%=locals.cid%>/standings">Standings</a></li>
      </ul>
    </div>
    <div class='main-block' id="submissions">
        <table>
                <tr>
                        <th>Submission</th>
                        <th>User</th>
                        <th>Problem</th>
                        <th>Runtime</th>
                        <th>Verdict</th>
                </tr>
                <% for (let i=locals.submissions.length-1; i>=0; i--) { %>
                <tr>
                        <td>
                                <a href = <%="/grade/status/"+locals.submissions[i].id%>>
                                        #<%=locals.submissions[i].id%>
                                </a>
                        </td>
                        <td>
                                <a href = <%="/grade/profile/"+locals.submissions[i].user%>>
                                        <%=locals.submissions[i].user%>
                                </a>
                        </td>
                        <td>
                                <a href = <%="/grade/problemset/"+locals.submissions[i].problemid%>>
                                        <%=locals.submissions[i].problemname%>
                                </a>
                        </td>
                        <td>
                                <%=locals.submissions[i].runtime%>ms
                        </td>
                        <td>
                                <%=locals.submissions[i].verdict%>
                        </td>
                </tr>
                <% } %>
        </table>
    </div>
</body>
</html>
