<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../profile.css"/>
    <title>Submissions</title>
</head>
<body>
    <%- include("partials/header", {active: "contests", depth: 3}); %>
    <%- include("partials/contestNavbar", {active: "submissions", title: locals.title, user: locals.user, cid: locals.cid}); %>

    <div class='main-block' id="submissions">
        <table>
                <tr>
                        <th>Submission</th>
                        <th>User</th>
                        <th>Problem</th>
                        <th>Runtime</th>
                        <th>Verdict</th>
                </tr>
                <% for (let i=locals.submissions.length-1; i>=0; i--) { %>
                <tr>
                        <td>
                                <a href = <%="/grade/status/"+locals.submissions[i].id%>>
                                        #<%=locals.submissions[i].id%>
                                </a>
                        </td>
                        <td>
                                <a href = <%="/grade/profile/"+locals.submissions[i].user%>>
                                        <%=locals.submissions[i].user%>
                                </a>
                        </td>
                        <td>
                                <a href = <%="/grade/problemset/"+locals.submissions[i].problemid%>>
                                        <%=locals.submissions[i].problemname%>
                                </a>
                        </td>
                        <td>
                                <%=locals.submissions[i].runtime%>ms
                        </td>
                        <td>
                                <%=locals.submissions[i].verdict%>
                        </td>
                </tr>
                <% } %>
        </table>
    </div>
</body>
</html>
