<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../profile.css"/>
    <title>Problemset</title>
</head>
<body>
    <div class="navbar">
        <ul class="nb">
            <li class="nb"><a href="/grade/profile">Home</a></li>
            <li class="nb"><a href="/grade/status">Submissions</a></li>
            <li class="nb"><a class="active" href="/grade/contests">Contests</a></li>
            <li class="nb"><a href="/grade/problemset">Problemset</a></li>
            <li class="nb"><a href="/grade/submit">Submit</a></li>
	    <li class="nb"><a href="/grade/info">Rules and Info</a></li>
        </ul>
    </div>
    <br>
    <div class='main-block'>
        <div class="title">Contests</div>
    </div>
    <% if(!locals.tjioi) { %>
    <div class='main-block' id="problems">
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/1"%>>
		     <div class="problem-text">In-House #1 (Unrated)</div>
		</a>
	    </li>
        </ul>
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/2"%>>
		     <div class="problem-text">Widener & PClassic Team Selection Contest (Rated)</div>
		</a>
	    </li>
        </ul>
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/3"%>>
		     <div class="problem-text">January In-House (Rated)</div>
		</a>
	    </li>
        </ul>
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/4"%>>
		     <div class="problem-text">February In-House (Rated)</div>
		</a>
	    </li>
        </ul>
    </div>
    <% } else { %>
    <div class='main-block' id="problems">
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/202401"%>>
		     <div class="problem-text">TJIOI Practice Contest</div>
		</a>
	    </li>
        </ul>
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/202402"%>>
		     <div class="problem-text">TJIOI 2024</div>
		</a>
	    </li>
        </ul>
    </div>
    <% } %>
</body>
</html>
