<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../profile.css"/>
    <title>Problemset</title>
</head>
<body>
    <div class="navbar">
        <ul class="nb">
            <li class="nb"><a href="/grade/profile">Home</a></li>
            <li class="nb"><a href="/grade/status">Submissions</a></li>
            <li class="nb"><a class="active" href="/grade/contests">Contests</a></li>
            <li class="nb"><a href="/grade/problemset">Problemset</a></li>
            <li class="nb"><a href="/grade/submit">Submit</a></li>
	    <li class="nb"><a href="/grade/info">Rules and Info</a></li>
        </ul>
    </div>
    <br>
    <div class='main-block'>
        <div class="title">Contests</div>
    </div>
    <div class='main-block' id="problems">
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/1"%>>
		     <div class="problem-text">In-House #1 (Unrated)</div>
		</a>
	    </li>
        </ul>
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/2"%>>
		     <div class="problem-text">Widener & PClassic Team Selection Contest (Rated)</div>
		</a>
	    </li>
        </ul>
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/3"%>>
		     <div class="problem-text">January In-House (Rated)</div>
		</a>
	    </li>
        </ul>
        <ul class="sl">
	    <li class="sl">
		<a href=<%="/grade/contests/4"%>>
		     <div class="problem-text">February In-House (Rated)</div>
		</a>
	    </li>
        </ul>
    </div>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../profile.css"/>
  <title>Contests</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/grade/profile">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/grade/status">Submissions</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/contests">Contests</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/problemset">Problemset</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/submit">Submit</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/info">Rules and Info</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/leaderboard">Leader Board</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/rating">Rating Graph</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Contests</h5>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="<%="/grade/contests/1"%>" class="text-decoration-none">In-House #1 (Unrated)</a>
          </li>
          <li class="list-group-item">
            <a href="<%="/grade/contests/2"%>" class="text-decoration-none">Widener & PClassic Team Selection Contest (Rated)</a>
          </li>
          <li class="list-group-item">
            <a href="<%="/grade/contests/3"%>" class="text-decoration-none">January In-House (Rated)</a>
          </li>
          <li class="list-group-item">
            <a href="<%="/grade/contests/4"%>" class="text-decoration-none">February In-House (Rated)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>