<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../profile.css"/>
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <title><%=locals.title%></title>
</head>
<body onload="myRender()">
    <%- include("partials/header"); %>
    <%- include("partials/particles", {depth: 2}); %>

    <div class="main-block">
        <div class="title"><strong><%=locals.title%> (ID: <%=locals.pid%>)</strong></div>
    </div>
    <div class="main-block">
        <div class="info">
        <%-String(locals.statement).replaceAll("\n", "<br>").replaceAll("$", "$$")%>
        </div>
    </div>
    <div class="main-block">
	<div class="info"><strong>Input Format</strong>
	<br>
	<%-String(locals.inputtxt).replaceAll("\n", "<br>").replaceAll("$", "$$")%>
	</div>
    </div>
    <div class="main-block">
	<div class="info"><strong>Output Format</strong>
	<br>
        <%-String(locals.outputtxt).replaceAll("\n", "<br>").replaceAll("$", "$$")%>
	</div>
    </div>
    <div class="main-block">
	<div class="info"><strong>Samples</strong>
	<br>
        <%-String(locals.samples).replaceAll("\n", "<br>").replaceAll("$", "$$")%>
	</div>
    </div>
    <div class="option-buttons">
        <a href = <%="/grade/submit?problem="+locals.pid%>>
            <div class="button">Submit</div>
        </a>
        <a href = <%=locals.back%>>
            <div class="button">Back</div>
        </a>
    </div>
</body>
</html>
