<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../profile.css"/>
    <link rel="stylesheet" href="../../katex.min.css">
    <script src="../../katex.min.js"></script>
    <script src="../../render.js"></script>
    

    <title><%=locals.title%></title>
</head>
<body onload="myRender()">
    <div class="navbar">
        <ul class="nb">
            <li class="nb"><a href="/grade/profile">Home</a></li>
            <li class="nb"><a href="/grade/status">Submissions</a></li>
            <li class="nb"><a href="/grade/contests">Contests</a></li>
            <li class="nb"><a href="/grade/problemset">Problemset</a></li>
            <li class="nb"><a href="/grade/submit">Submit</a></li>
            <li class="nb"><a href="/grade/info">Rules and Info</a></li>
        </ul>
    </div>
 <div id="particles-js" class="particles-js">   
</div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
particlesJS.load('particles-js', '../../../particles.json', function() {
  console.log('callback - particles.js config loaded');
});
    </script>
    <div class="main-block">
        <div class="title"><strong><%=locals.title%> (problem id=<%=locals.pid%>)</strong></div>
    </div>
    <div class="main-block">
        <div class="info">
        <%-String(locals.statement).replaceAll("\n", "<br>")%>
        </div>
    </div>
    <div class="main-block">
	<div class="info"><strong>Input Format</strong>
	<br>
	<%-String(locals.inputtxt).replaceAll("\n", "<br>")%>
	</div>
    </div>
    <div class="main-block">
	<div class="info"><strong>Output Format</strong>
	<br>
        <%-String(locals.outputtxt).replaceAll("\n", "<br>")%>
	</div>
    </div>
    <div class="main-block">
	<div class="info"><strong>Samples</strong>
	<br>
        <%-String(locals.samples).replaceAll("\n", "<br>")%>
	</div>
    </div>
    <div class="option-buttons">
        <a href = <%="/grade/submit?problem="+locals.pid%>>
            <div class="button">Submit</div>
        </a>
        <a href = <%=locals.back%>>
            <div class="button">Back</div>
        </a>
    </div>
</body>
</html>
