<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../profile.css"/>
    <title>My Submissions</title>
</head>
<body>
    <div class="navbar">
        <ul class="nb">
            <li class="nb"><a href="/grade/profile">Home</a></li>
            <li class="nb"><a class="active" href="/grade/status">Submissions</a></li>
            <li class="nb"><a href="/grade/contests">Contests</a></li>
            <li class="nb"><a href="/grade/problemset">Problemset</a></li>
            <li class="nb"><a href="/grade/submit">Submit</a></li>
	    <li class="nb"><a href="/grade/info">Rules and Info</a></li>
        </ul>
    </div>
    <br>
    <div class='main-block'>
        <div class="title">Submissions<% if (locals.viewAsAdmin == true) { %> - viewing as Admin <% } %></div>
    </div>
    <div class='main-block' id="submissions">
		<table>
			<tr>
				<th>Submission</th>
				<% if (locals.viewAsAdmin == true) { %>
				<th>User</th>
				<% } %>
				<th>Problem</th>
				<th>Runtime</th>
				<th>Verdict</th>
			</tr>
			<% for (let i=locals.submissions.length-1; i>=0; i--) { %>
			<tr>
				<td>
					<a href = <%="/grade/status/"+locals.submissions[i].id%>>
						#<%=locals.submissions[i].id%>
					</a>
				</td>
				<% if (locals.viewAsAdmin == true) { %>
				<td>
					<a href = <%="/grade/profile/"+locals.submissions[i].user%>>
						<%=locals.submissions[i].user%>
					</a>
				</td>
				<% } %>
				<td>
					<a href = <%="/grade/problemset/"+locals.submissions[i].problemid%>>
						<%=locals.submissions[i].problemname%>
					</a>
				</td>
				<td>
					<%=locals.submissions[i].runtime%> ms
				</td>
				<td>
					<%=locals.submissions[i].verdict%>
				</td>
			</tr>
			<% } %>
		</table>
    </div>
</body>
</html>
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Submissions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../profile.css"/>
    <link rel="stylesheet" type="text/css" href="src/output.css">
</head>
<body style="background-color: #101729;">
    <%- include('partials/navbar.ejs') %>.

	<div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Submissions<% if (locals.viewAsAdmin == true) { %> - viewing as Admin <% } %></h5>
            </div>
            <div class="card-body">
                <table class="table-custom">
                    <thead class="thead-dark-custom">
                        <tr>
                            <th scope="col">ID</th>
                            <% if (locals.viewAsAdmin == true) { %>
                            <th scope="col">User</th>
                            <% } %>
                            <th scope="col">Problem</th>
                            <th scope="col">Runtime</th>
                            <th scope="col">Verdict</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = locals.submissions.length - 1; i >= 0; i--) { %>
                        <tr>
                            <td><a href="<%="/grade/status/" + locals.submissions[i].id%>">#<%= locals.submissions[i].id %></a></td>
                            <% if (locals.viewAsAdmin == true) { %>
                            <td><a href="<%="/grade/profile/" + locals.submissions[i].user%>"><%= locals.submissions[i].user %></a></td>
                            <% } %>
                            <td><a href="<%="/grade/problemset/" + locals.submissions[i].problemid%>"><%= locals.submissions[i].problemname %></a></td>
                            <td><%= locals.submissions[i].runtime %> ms</td>
                            <td><%= locals.submissions[i].verdict %></td>
                        </tr>
                        <% } %>
                        <tr>
                            <td>#1</td>
                            <!--td><a href="/grade/profile/user1">user1</a></td-->
                            <td><a href="/grade/problemset/1">Problem A</a></td> 
                            <td>120 ms</td>
                            <td class="text-green-500">Accepted</td>
                        </tr>
                        <tr>
                            <td>#2</td>
                            <!--td><a href="/grade/profile/user2">user2</a></td-->
                            <td><a href="/grade/problemset/2">Problem B</a></td> 
                            <td>150 ms</td>
                            <td class="text-blue-300">Wrong Answer</td>
                        </tr>
                        <tr>
                            <td>#3</td>
                            <td><a href="/grade/problemset/3">Problem C</a></td> 
                            <td>90 ms</td>
                            <td class="text-green-500">Accepted</td>
                        </tr>
                        <!--tr>
                            <td><a href="/grade/status/4">#4</a></td>
                            <td><a href="/grade/profile/user4">user4</a></td>
                            <td><a href="/grade/problemset/104">Problem D</a></td>
                            <td>200 ms</td>
                            <td>Time Limit Exceeded</td>
                        </tr>
                        <tr>
                            <td><a href="/grade/status/5">#5</a></td>
                            <td><a href="/grade/profile/user5">user5</a></td>
                            <td><a href="/grade/problemset/105">Problem E</a></td>
                            <td>300 ms</td>
                            <td>Accepted</td-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
