<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is the problemset!
    <div id="problems">
        <a href = <%="/grade/problemset/"+locals.p1%>>
            <button><%=locals.p1n%></button>
        </a>
        <a href = <%="/grade/problemset/"+locals.p2%>>
            <button><%=locals.p2n%></button>
        </a>
        <a href = <%="/grade/problemset/"+locals.p3%>>
            <button><%=locals.p3n%></button>
        </a>
        <a href = <%="/grade/problemset/"+locals.p4%>>
            <button><%=locals.p4n%></button>
        </a>
        <a href = <%="/grade/problemset/"+locals.p5%>>
            <button><%=locals.p5n%></button>
        </a>
    </div>
</body>
</html>