<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../profile.css"/>
    <title>My Submissions</title>
</head>
<body>
    <div class="navbar">
        <ul class="nb">
            <li class="nb"><a href="/grade/profile">Home</a></li>
            <li class="nb"><a class="active" href="/grade/status">Submissions</a></li>
            <li class="nb"><a href="/grade/contests">Contests</a></li>
            <li class="nb"><a href="/grade/problemset">Problemset</a></li>
            <li class="nb"><a href="/grade/submit">Submit</a></li>
	    <li class="nb"><a href="/grade/info">Rules and Info</a></li>
        </ul>
    </div>
    <br>
    <div class='main-block'>
        <div class="title">Submissions<% if (locals.viewAsAdmin == true) { %> - viewing as Admin <% } %></div>
    </div>
    <div class='main-block' id="submissions">
		<table>
			<tr>
				<th>Submission</th>
				<% if (locals.viewAsAdmin == true) { %>
				<th>User</th>
				<% } %>
				<th>Problem</th>
				<th>Runtime</th>
				<th>Verdict</th>
			</tr>
			<% for (let i=locals.submissions.length-1; i>=0; i--) { %>
			<tr>
				<td>
					<a href = <%="/grade/status/"+locals.submissions[i].id%>>
						#<%=locals.submissions[i].id%>
					</a>
				</td>
				<% if (locals.viewAsAdmin == true) { %>
				<td>
					<a href = <%="/grade/profile/"+locals.submissions[i].user%>>
						<%=locals.submissions[i].user%>
					</a>
				</td>
				<% } %>
				<td>
					<a href = <%="/grade/problemset/"+locals.submissions[i].problemid%>>
						<%=locals.submissions[i].problemname%>
					</a>
				</td>
				<td>
					<%=locals.submissions[i].runtime%> ms
				</td>
				<td>
					<%=locals.submissions[i].verdict%>
				</td>
			</tr>
			<% } %>
		</table>
    </div>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../profile.css"/>
  <title>My Submissions</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/grade/profile">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/grade/status">Submissions</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/contests">Contests</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/problemset">Problemset</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/submit">Submit</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/info">Rules and Info</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/leaderboard">Leader Board</a></li>
                    <li class="nav-item"><a class="nav-link" href="/grade/rating">Rating Graph</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Submissions<% if (locals.viewAsAdmin == true) { %> - viewing as Admin <% } %></h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Submission</th>
              <% if (locals.viewAsAdmin == true) { %>
              <th scope="col">User</th>
              <% } %>
              <th scope="col">Problem</th>
              <th scope="col">Runtime</th>
              <th scope="col">Verdict</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i=locals.submissions.length-1; i>=0; i--) { %>
            <tr>
              <td><a href="<%="/grade/status/"+locals.submissions[i].id%>">#<%=locals.submissions[i].id%></a></td>
              <% if (locals.viewAsAdmin == true) { %>
              <td><a href="<%="/grade/profile/"+locals.submissions[i].user%>"><%=locals.submissions[i].user%></a></td>
              <% } %>
              <td><a href="<%="/grade/problemset/"+locals.submissions[i].problemid%>"><%=locals.submissions[i].problemname%></a></td>
              <td><%=locals.submissions[i].runtime%> ms</td>
              <td><%=locals.submissions[i].verdict%></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>