<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../profile.css" />
    <title>Rankings</title>
  </head>
  <body>
    <%- include("partials/header", {active: "rankings"}); %>
    <%- include("partials/particles", {depth: 2}); %>
    
    <div class="main-block">
      <div class="title">Rankings</div>
    </div>
      <div class="main-block">
      <table>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Index</th>
          <th>USACO</th>
          <th>Codeforces</th>
          <th>In-Houses</th>
        </tr>
        <% for (let i=0; i<locals.rankings.length; i++) { %>
          <tr>
            <td class="centertext"><%=locals.rankings[i].rank%></td>
            <td class="centertext"><a href="/grade/profile/<%=locals.rankings[i].id%>"><%=locals.rankings[i].name%></a></td>
            <td class="centertext"><%=locals.rankings[i].index.toFixed(3)%></td>
            <td class="centertext"><%=locals.rankings[i].usaco.toFixed(3)%></td>
            <td class="centertext"><%=locals.rankings[i].cf.toFixed(3)%></td>
            <td class="centertext"><%=locals.rankings[i].inhouse.toFixed(3)%></td>
          </tr>
        <% } %>
      </table>
      </div>
    </div>
  </body>
</html>
