<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <script type="text/javascript" src="../particles.js"></script>
    <script> particlesJS.load("particles-js", "../particles.json", function () {console.log("callback - particles.js config loaded")});</script>
    <div id="particles-js" class="particles-js"></div>

    <div id="mainContent">
      <div class="navbar">
        <ul class="nb">
          <li id="logoHolder" class="nb"><img class="logo" src="/images/logo.svg"></li>
          <li class="nb"><a class="active" href="/grade/profile"><p>Home</p></a></li>
          <li class="nb"><a href="/grade/status"><p>Submissions</p></a></li>
          <li class="nb"><a href="/grade/contests"><p>Contests</p></a></li>
          <li class="nb"><a href="/grade/problemset"><p>Problemset</p></a></li>
          <li class="nb"><a href="/grade/submit"><p>Submit</p></a></li>
          <li class="nb"><a href="/grade/info"><p>Rules and Info</p></a></li>
          <li class="nb topnav-right">
            <form style="height: 100%;" action="/grade/logout" method="POST">
              <button class="logoutbtn" type="submit">Log Out</button>
            </form>
          </li>
        </ul>
      </div>

      <table>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Index</th>
          <th>USACO</th>
          <th>Codeforces</th>
          <th>In-Houses</th>
        </tr>
        <% for (let i=0; i<locals.rankings.length; i++) { %>
          <tr>
            <td class="centertext"><%=locals.rankings[i].rank%></td>
            <td class="centertext"><a href="/grade/profile/<%=locals.rankings[i].id%>"><%=locals.rankings[i].name%></a></td>
            <td class="centertext"><%=locals.rankings[i].index.toFixed(3)%></td>
            <td class="centertext"><%=locals.rankings[i].usaco.toFixed(3)%></td>
            <td class="centertext"><%=locals.rankings[i].cf.toFixed(3)%></td>
            <td class="centertext"><%=locals.rankings[i].inhouse.toFixed(3)%></td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
