<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../../profile.css"/>
  <title>Contest</title>
</head>
<body>
  <div class="navbar">
    <ul class="nb">
      <li class="nb"><a href="/grade/profile">Home</a></li>
      <li class="nb"><a href="/grade/status">Submissions</a></li>
      <li class="nb"><a href="/grade/contests">Contests</a></li>
      <li class="nb"><a href="/grade/problemset">Problemset</a></li>
      <li class="nb"><a href="/grade/submit">Submit</a></li>
      <li class="nb"><a href="/grade/info">Rules and Info</a></li>
    </ul>
  </div>
  <div class="main-block">
	  <div class="title"><%=locals.title%></div>
  </div>
  <div class="cnav">
    <ul class="cnb">
      <li class="cnb"><a href="/grade/contests/<%=locals.cid%>">Problems</a></li>
      <li class="cnb"><a href="/grade/submit">Submit Code</a></li>
      <li class="cnb"><a href="/grade/contests/<%=locals.cid%>/status?user=<%=locals.user%>&contest=<%=locals.cid%>">My Submissions</a></li>
      <li class="cnb"><a href="/grade/contests/<%=locals.cid%>/status?contest=<%=locals.cid%>">All Submissions</a></li>
      <li class="cnb"><a class="cactive" href="/grade/contests/<%=locals.cid%>/standings">Standings</a></li>
    </ul>
  </div>
  <div class="main-block">
    <div class="problem-text">Standings</div>
    <table>
      <tr>
        <th>#</th>
        <th>Name</th>
	<th>Penalty</th>
        <th>Solved</th>
        <% for (let i=1; i<=locals.pnum; i++) { %>
          <th><%=i%></th>   
        <% } %>	
      </tr>
      <% for (let i=0; i<locals.load.length; i++) { %>
        <tr>
          <td class="centertext"><%=i+1%></td>
	  <td class="centertext"><a href="/grade/profile/<%=locals.load[i].id%>"><%=locals.load[i].name%></a></td>
	  <td class="centertext"><%=locals.load[i].penalty%></td>
          <td class="centertext"><%=locals.load[i].solved%></td>
          <% for (let j=0; j<locals.pnum; j++) { %>
            <td class="centertext"><%=locals.load[i].problems[j]%></td>
          <% } %>
        </tr>
      <% } %>
    </table>
  </div>
</body>
</html>
