<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../profile.css" />
    <title>Status</title>
    <script>
      function auto_grow() {
        element = document.getElementById("usercode");
        element.style.height = "5px";
        element.style.height = element.scrollHeight + "px";
        element = document.getElementById("feedback");
        element.style.height = "5px";
        element.style.height = element.scrollHeight + "px";
      }
    </script>
  </head>
  <body onload="auto_grow()">
    <%- include("partials/header", {active: "submissions"}); %>
    <%- include("partials/particles", {depth: 2}); %>
    
    <div class="main-block">
      <div class="title">
        Problem: <%=locals.submission.problemname%>, Language:
        <%=locals.submission.language%>, Runtime:
        <%=locals.submission.runtime%>ms, Verdict:
        <%=locals.submission.verdict%>, Time: <%=locals.submission.timestamp%>
        <% if (locals.submission.admin) { %> - Viewing as Admin <% } %>
      </div>
      <br/>
      <textarea id="usercode" style="width: 100%; font-size: 1.5em" rows="4", cols="50" readonly><%=locals.submission.code%></textarea>
      <br/>
      <textarea id="feedback" style="width: 100%; font-size: 1.5em" rows="4", cols="50" readonly><%=locals.submission.insight%></textarea>
    </div>
    <div class="option-buttons">
      <a href= <%= "/grade/problemset/" + locals.submission.problemid %> >
        <div class="button">Problem</div>
      </a>
      <a href="/grade/status">
        <div class="button">Back</div>
      </a>
    </div>
  </body>
</html>
